// margin and padding.
html, body, * {
    padding: 0;
    margin: 0;
}

// box sizing.
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

// background color.
body {
    background-color: tan;
}